.reactcontainer {
    display: block;
  }

.reactcontainer-item {
    display: block;
    overflow: auto;
}

.reactcontainer-item.reactcontainer-colflex-item {
    display: inline-flex;
}

.reactcontainer-item.reactcontainer-rowflex-item {
    display: inline-flex;
}

.reactcontainer.reactcontainer-fit {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.reactcontainer.reactcontainer-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reactcontainer.reactcontainer-rowflex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.reactcontainer.reactcontainer-colflex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.reactcontainer.reactcontainer-flex-align-start {
    align-items: flex-start;
}
.reactcontainer.reactcontainer-flex-align-end {
    align-items: flex-end;
}
.reactcontainer.reactcontainer-flex-align-center {
    align-items: center;
}
.reactcontainer.reactcontainer-flex-align-stretch {
    align-items: stretch;
}
.reactcontainer.reactcontainer-flex-align-baseline {
    align-items: baseline;
}

.reactcontainer.reactcontainer-flex-justify-start {
    justify-content: flex-start;
}
.reactcontainer.reactcontainer-flex-justify-end {
    justify-content: flex-end;
}
.reactcontainer.reactcontainer-flex-justify-center {
    justify-content: center;
}
.reactcontainer.reactcontainer-flex-justify-spacebetween {
    justify-content: space-between;
}
.reactcontainer.reactcontainer-flex-justify-spacearound {
    justify-content: space-around;
}
.reactcontainer.reactcontainer-flex-justify-spaceevenly {
    justify-content: space-evenly;
}